.App {
  text-align: left;
}

.Title {
  font-size: 52px;
  margin-left: 80px;
  margin-top: 0px;
  padding-top: 10px;
  display: inline-block;
  font-family: 'Times New Roman';
  color: white
  ;
}

.LeftB {
  height: 100vh;
  margin: 0;
  background-image: url("nighthawks.jpg");
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
}

.RightB {
  right: 0;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 43vw;
  background-color: rgba(0,0,0,0.5);
  margin: 0;
  transition: all .2s ease-in-out;
  transform-origin:right center;
}

.RightB:hover { 
  transform: scaleX(1.05);
  background-color: rgba(0,0,0,0.8);
}

h2 {text-align: left;}

h2 {
  margin-top: 100px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 100px;
}

.word {
  width: 500px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

.bottomright {
  text-decoration: none;
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 30px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.ProjTitle {
  font-size: 52px;
  margin-left: 80px;
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Times New Roman';
  color: aqua;
}

.images {
  border: 5px solid white;
  border-radius: 10px;
}

.projtext1 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline;
}

.Project1 {
  display: flex;
  height: 225px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 30px;
}

.Project2 {
  display: flex;
  height: 225px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row-reverse;
  padding: 0 30px;
}




